<div {{bind-attr class=":action-sheet-backdrop isVisible:active"}} buttons="buttons">
  <div class="action-sheet-wrapper action-sheet-up">
    <div class="action-sheet">
      <div class="action-sheet-group">
        {{!-- <button class="sheet-button" {{action 'goTo' 'import'}}>Pflanzen importieren</button> --}}
        <button class="sheet-button" {{action 'goTo' 'quarters'}}>Quartiere</button>
        <button class="sheet-button" {{action 'goTo' 'analytics'}}>Übersicht</button>

      </div>
      <div class="action-sheet-group" ng-if="cancelText">
        <button class="sheet-button" {{action "hideSheet"}}>Zurück</button>
      </div>
    </div>
  </div>
</div>
