<div class="item item-input">
  <label for="name" class='input-label'>Name</label>
  {{nohelp-input value=content.name autofocus="autofocus" id='nameInput'}}
</div>

<div class="item item-input">
  <label for="preis" class='input-label'>Preis</label>
  {{currency-input currency=content.priceInCents type='tel'}}
</div>

<div class="item divider">Bestände</div>

{{#each position in positions }}
  <div class="item item-input">
    <label for="preis" class='input-label'>{{position.quarter.name}}</label>
    {{input value=position.quantity placeholder='0' type='tel'}}
  </div>
{{/each}}

<div class="aright padding flexbox">
  {{partial 'shared/delete'}}
</div>
