<div class="item item-input">
  <label for="name" class='input-label'>Rechnungs Nummer</label>
  {{input value=content.number }}
</div>

<div class="item item-input">
  <label for="preis" class='input-label'>Kunde</label>
  {{input value=content.customer}}
</div>

<div class="item item-input">
  <label for="adress" class='input-label'>Adresse</label>
  {{textarea value=content.adress rows=3 }}
</div>


<div class="padding aright flexbox">
  {{#if deleteMode}}
    <button class="blue btn-desktop" {{action "leaveDeleteMode"}} title="save">abbrechen</button>
    <span class='flex'></span>
    <button class="warn btn-desktop smaller" {{action "deleteOrder"}} title="save">sicher löschen</button>
  {{else}}
    {{#if content.isNew}}{{else}}
      <button class="warn smaller" {{action "goIntoDeleteMode"}} {{bind-attr disabled=isNotDeletable }}>
        '{{content.name}}' löschen
        {{#if isNotDeletable}}
          <br><em class='smaller black visible'>vorher alles zurücklegen</em>
        {{/if}}
      </button>
      <span class='flex'></span>
    {{/if}}
    <button class="blue btn-desktop" {{action "save"}} title="save"> speichern </button>
  {{/if}}
</div>
