{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>zurück</a>
    <h2 class='title'>{{name}}</h2>
    <a {{action 'editOrder' target="view" }}>bearbeiten</a>
  </div>

  <div class='content list'>
    <div class="item">
      <span>Kunde</span>
      <span class='flex'></span>
      <span>{{customer}}</span>
    </div>

    <div class="item">
      <span>Adresse</span>
      <span class='flex'></span>
      <span>{{adressWithBreaks}}</span>
    </div>

    <div class="item divider">Pflanzen</div>

    {{#each orderItem in orderItems itemController='orderItem'}}
      <div class="item rows" {{bind-attr class=orderItem.activityStyles}}>
        <div class="row">
          <span>{{orderItem.plant.name}}&nbsp;<a href="#" class='smaller' {{action 'showPutBack'}}>{{#if orderItem.isFrom}}abbrechen{{else}}zurücklegen{{/if}}</a></span>
          <span class='flex'></span>
          <span class='padding-left padding-right note'>{{euro orderItem.plant.price}}</span>
          <span class='padding-left padding-right note'>{{orderItem.quantity}}</span>
          <span class='padding-left'>{{euro orderItem.total}}</span>
        </div>
        {{#if orderItem.isFrom}}
          {{#each plantPosition in orderItem.plant.positions itemController='plantPosition'}}
            <div class='row' {{bind-attr class=plantPosition.activityStyles}}>
              <span class='padding-right'>
                {{plantPosition.quarter.name}}
              </span>
              {{#if plantPosition.isTo}}
                {{input value=plantPosition.transaction.quantity type='tel'}}
                <span class='padding-left'>
                  <button class='blue btn-desktop' {{action 'executePutBack' }}>zurücklegen</button>
                </span>
              {{else}}
                <span class='note smaller' {{action 'putBackToQuarter'}}>in dieses Lager zurücklegen</span>
              {{/if}}
            </div>
          {{/each}}
        {{/if}}
      </div>
    {{/each}}

    <div class="item">
      <span><b>Total</b></span>
      <span class='flex'></span>
      <span>{{euro totalPrice}}</span>
    </div>

    <div class="padding aright">
      <button class="blue btn-desktop" {{action "selectActiveOrder" this}}> Pflanzen hinzufügen </button>
    </div>

  </div>
  {{view 'tabs'}}
{{/view}}

{{!outlet}}
