{{#view 'draggable' shouldShow=shouldShowCreate}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>{{name}}</h2>
    <a href="#" {{action 'editOrder'}}>bearbeiten</a>
  </div>

  <div class='content'>
    <div class="card rows">
      <div class='row'>
        <div class='cell smaller'>
          {{customer}}<br>
          {{adressWithBreaks}}
        </div>
        <div class='cell'></div>
        <div class='cell aright bottom smaller'>{{date date}}</div>
      </div>
      <div class='row'>
        <div class='cell'><b>{{name}}</b></div>
      </div>
      {{#each orderItem in orderItems itemController='orderItem'}}
        <div {{bind-attr class=orderItem.activityStyles}}>
          <div class="row">
            <span>{{orderItem.plant.name}}&nbsp;
            {{#if orderItem.isFrom}}
              <a href="#" class='btn-small note' {{action 'showPutBack'}}>abbrechen</a>
            {{else}}
              <a href="#" {{bind-attr class=':btn-small orderItem.hasFrom:note' }} {{action 'showPutBack'}}>zur端cklegen</a>
            {{/if}}</span>
            <span class='flex'></span>
            <span class='col number peace'>{{orderItem.quantity}}</span>
            <span class='col number calm'>{{euro orderItem.plant.price}}</span>
            <span class='col number relax'>{{euro orderItem.total}}</span>
          </div>
          {{#if orderItem.isFrom}}
            {{#each plantPosition in orderItem.plant.positions itemController='plantPosition'}}
              <div {{bind-attr class=plantPosition.activityStyles}}>
                <span class='padding-right middle'>
                  {{plantPosition.quarter.name}}
                </span>
                {{#if plantPosition.isTo}}
                  {{focus-input value=plantPosition.transaction.quantity type='tel'}}
                  <span class='padding-left'>
                    <button class="blue btn-desktop" {{action 'executePutBack' }}>zur端cklegen</button>
                  </span>
                {{else}}
                  <a {{bind-attr class="plantPosition.hasTo:note :btn-small" }} {{action 'putBackToQuarter'}}>in dieses Lager zur端cklegen</a>
                {{/if}}
              </div>
            {{/each}}
          {{/if}}
        </div>
      {{else}}
        <div class="row">
          <em>leer</em>
        </div>

      {{/each}}

      <div class="row total">
        <span><b>Total</b></span>
        <span class='flex'></span>
        <span><b>{{euro totalPrice}}</b></span>
      </div>
    </div>

    <div class="padding aright">
      <button class="blue btn-desktop" {{action "selectActiveOrder" this}}>Pflanzen hinzuf端gen</button>
    </div>
  </div>
  {{view 'tabs'}}
{{/view}}

{{outlet}}
