<div class="moosi">
  <div class='header'>
    <a class='left'></a>
    <h1 class="title">Rechnungen</h1>
    {{#link-to 'orders.create'}}neu{{/link-to}}
  </div>

  <div class='content list'>
    {{#each order in arrangedContent}}
      <div class="item rows" {{action 'linkToOrder' order}}>
        <div class='row'>
          <span>{{order.name}}</span>
          <span class='flex col fatter smaller calm'>
            {{order.customer}}
          </span>

          <span class='number relax col'>{{euro order.totalPrice}}</span>
        </div>
      </div>
    {{else}}
      <div class='padding acenter'>
        <em class='note'>keine Rechnung angelegt</em>
      </div>
    {{/each}}
  </div>

  {{view 'tabs'}}
</div>
{{outlet}}
