{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
    <a {{action 'editOrder' target="view" }}>edit</a>
  </div>

  <div class='content list'>
    <div class="item">
      <span>Kunde</span>
      <span class='flex'></span>
      <span>{{customer}}</span>
    </div>

    <div class="item">
      <span>Adresse</span>
      <span class='flex'></span>
      <span>{{adressWithBreaks}}</span>
    </div>

    <div class="item divider">Pflanzen</div>

    {{#each orderItem in orderItems itemController='orderItem'}}
      <div class="item rows">
        <div class="row">
          <span>{{orderItem.plant.name}}</span>
          <span class='flex'></span>
          <span>{{euro orderItem.plant.price}}</span>
          <span>x {{orderItem.quantity}}</span>
          <span>= {{euro orderItem.total}}</span>
        </div>
      </div>
    {{/each}}

    <div class="item">
      <span><b>Total</b></span>
      <span class='flex'></span>
      <span>{{euro totalPrice}}</span>
    </div>

    <div class="padding aright">
      <button class="blue btn-desktop" {{action "selectActiveOrder" this}}> Pflanzen hinzufügen </button>
    </div>

  </div>
  {{view 'tabs'}}
{{/view}}

{{!outlet}}
