{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
    {{#if hasTransaction}}
      <a class='right' {{action 'resetTransaction'}}>abbrechen</a>
    {{else}}
      <a class='right' {{action 'editPlant'}}>edit</a>
    {{/if}}
  </div>
  <div>
  <div class='content list'>
    {{#if hasActiveOrder}}
      <div class="item">
        <span>{{activeOrder.name}}</span>
        <span class='flex'></span>
        <span class="padding aright">
            <button class="blue btn-desktop"> hinzufügen </button>
        </span>
      </div>
    {{/if}}

    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span>{{euro price}}</span>
    </div>

    <div class="padding">
      <div class="divider">Bestände</div>
    </div>

    {{#each position in positions itemController='position'}}
      <div class="item rows">
        <div class="row" {{action 'selectPosition' position }}>
          <span>{{position.quarter.name}}
            {{#if isTransaction}}
              <span class='note'>{{#if position.isFrom}} von{{/if}}
              {{#if position.isTo}} nach{{/if}}</span>
            {{/if}}
          </span>
          <span class='flex'></span>
          <span>{{position.quantity}}</span>
        </div>
        {{#if position.isTo}}
          <div class="row">
            {{input value=transaction.quantityInput type='tel'}}

            <div class="aright">
              <button class="blue btn-desktop" {{action "execute"}} title="save" {{bind-attr disabled='transaction.isInvalidTransaction'}}> {{#if isTransaction}}
              verschieben
            {{else}}
              neue hinzufügen
            {{/if}} </button>
            </div>

          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="footer">
    <a data-href="#" {{action 'goToOrders'}}>Bestellungen</a>
  </div>
{{/view}}

{{outlet}}
