{{#view 'draggable'}}
  <div class='header'>
    {{partial 'shared/back-button'}}

    <h2 class='title'>{{name}}</h2>
    {{#if hasTransaction}}
      <a></a>
    {{else}}
      <a class='right' {{action 'editPlant'}}>bearbeiten</a>
    {{/if}}
  </div>

  <div class='content list'>
    {{#if hasActiveOrder}}
      <div class="item active-order rows">
        <div {{bind-attr class=":row hasFrom:slim"}}>
          <span>
            {{#link-to 'order' activeOrder}}{{activeOrder.name}}{{/link-to}}
          </span>

            {{#if hasFrom }}
              <span class='note smaller badge padding-left'>
                nach
              </span>
            {{/if}}

            {{#if hasTransaction}}
              <a href='#' class='padding-left smaller' {{action 'resetTransaction'}}>abbrechen</a>
            {{else}}
              <a href='#' {{action 'deselectActiveOrder'}} class="padding-left smaller">abbrechen</a>
            {{/if}}

          <span class='flex'></span>
          <span class='smaller note'><em>{{doAction}}</em></span>
        </div>

        {{#if hasFrom }}
          <div class="row">
            {{focus-input value=transaction.quantityInput type='tel'}}
            <span class='aright padding-left'>
              <button class="blue btn-desktop" {{action "execute"}}> hinzufügen </button>
            </span>
          </div>
        {{/if}}
      </div>
    {{/if}}

    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span>{{euro price}}</span>
    </div>

    <div class="item divider">Bestände</div>

    {{#each position in positions itemController='position'}}
      <div {{bind-attr class=position.activityStyles}}>
        <div class="row" {{action 'selectPosition' position }}>
          <span>{{position.quarter.name}}
            {{#if isTransaction}}
              {{#if position.isFrom}}
                <span class='note smaller badge'>von</span>
              {{/if}}
              {{#if position.isTo}}<span class='note smaller badge'>nach</span>{{/if}}
            {{/if}}
          </span>
          <span class='flex'></span>
          <span>{{position.quantity}}</span>
        </div>
        {{#if position.isTo}}
          <div class="row">
            {{input value=transaction.quantityInput type='tel'}}
            <div class="aright padding-left">
              <button class="blue btn-desktop" {{action "execute"}} title="save" {{bind-attr disabled='transaction.isInvalidTransaction'}}>
                {{#if isTransaction}}
                  verschieben
                {{else}}
                  neue hinzufügen
                {{/if}}
              </button>
            </div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
{{/view}}

{{outlet}}
