{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
    {{#if hasTransaction}}<a class='right' {{action 'resetTransaction'}}>abbrechen</a>{{/if}} {{transaction.isValidTransaction}}
  </div>
  <div>
  <div class='content list'>
    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span>{{price}}</span>
    </div>

    <div class="padding">
      <div class="divider">Bestände</div>
    </div>

    {{#each position in positions itemController='position'}}
      <div class="item rows">
        <div class="row" {{action 'selectPosition' position }}>
          <span>{{position.quarter.name}}
            {{#if isTransaction}}
              <span class='note'>{{#if position.isFrom}} von{{/if}}
              {{#if position.isTo}} nach{{/if}}</span>
            {{/if}}
          </span>
          <span class='flex'></span>
          <span>{{position.quantity}}</span>
        </div>
        {{#if position.isTo}}
          <div class="row">
            {{input value=transaction.quantity type='tel'}}

            <div class="aright">
              <button class="blue btn-desktop" {{action "execute"}} title="save"> {{#if isTransaction}}
              verschieben
            {{else}}
              neue hinzufügen
            {{/if}} </button>
            </div>

          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/view}}

{{!outlet}}
