<div class="moosi">
  <div class='header'>
    <a class='left' {{action 'openActionSheet'}}>menü</a>
    <h1 class="title">Pflanzen</h1>
    {{#link-to 'plants.create'}}neu{{/link-to}}
  </div>

  <div class='content list'>
    {{partial 'shared/active-order'}}
    {{#each plant in filteredContent}}
      <div class="item" {{action 'linkToPlant' plant}}>
        <span>{{plant.name}}</span>
        <span class='flex'></span>
        <span class='col number relax'>{{euro plant.price}}</span>
        <span class='col number calm padding-left'>{{plant.youngPlantQuantity}}</span>
        <span class='col number padding-left peace'>{{plant.quantity}}</span>
      </div>
    {{else}}
      <div class='padding acenter'>
        <em class='note'>keine Pflanze angelegt</em>
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
</div>
{{outlet}}

{{action-sheet isVisible=actionSheetVisible goToQuarters='goToQuarters' goToImport='goToImport'}}

