{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
    <a></a>
  </div>
  <div>
  <div class='content list'>
    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span>{{price}}</span>
    </div>

    <div class="padding">
      <div class="divider">Bestände</div>
    </div>

    {{#each position in positions itemController='position'}}
      <div class="item rows" {{action 'selectPosition' position }}>
        <div class="row">
          <span>{{position.quarter.name}}</span>
          <span class='flex'></span>
          <span>{{position.quantity}}</span>
        </div>
        <div>
          {{#if position.isFrom}}
            FROM
          {{/if}}
          {{#if position.isTo}}
            TO
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
{{/view}}

{{!outlet}}
