{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>zur체ck</a>
    <h2 class='title'>{{name}}</h2>
    {{#if hasTransaction}}
      <a class='right' {{action 'resetTransaction'}}>abbrechen</a>
    {{else}}
      <a class='right' {{action 'editPlant'}}>bearbeiten</a>
    {{/if}}
  </div>

  <div class='content list'>
    {{#if hasActiveOrder}}
      <div class="item">
        <span>
          {{#link-to 'order' activeOrder}}{{activeOrder.name}}{{/link-to}} {{#if hasFrom }}nach{{/if}}<br>
          <a {{action 'deselectActiveOrder'}}>abbrechen</a>
        </span>
        <span class='flex'></span>
        <span class="padding aright">
          {{#if hasFrom }}
            {{input value=transaction.quantityInput type='tel'}}
            <button class="blue btn-desktop" {{action "execute"}}> hinzuf체gen </button>
          {{/if}}
        </span>
      </div>
    {{/if}}

    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span>{{euro price}}</span>
    </div>

    <div class="item divider">Best채nde</div>

    {{#each position in positions itemController='position'}}
      <div class="item rows" {{bind-attr class=position.activityStyles}}>
        <div class="row" {{action 'selectPosition' position }}>
          <span>{{position.quarter.name}}
            {{#if isTransaction}}
              <span class='note smaller badge'>{{#if position.isFrom}} von{{/if}}
              {{#if position.isTo}} nach{{/if}}</span>
            {{/if}}
          </span>
          <span class='flex'></span>
          <span>{{position.quantity}}</span>
        </div>
        {{#if position.isTo}}
          <div class="row">
            {{input value=transaction.quantityInput type='tel'}}
            <div class="aright padding-left">
              <button class="blue btn-desktop" {{action "execute"}} title="save" {{bind-attr disabled='transaction.isInvalidTransaction'}}>
                {{#if isTransaction}}
                  verschieben
                {{else}}
                  neue hinzuf체gen
                {{/if}}
              </button>
            </div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
{{/view}}

{{outlet}}
