<div class="moosi">
  <div class='header'>
    <a class='left'>&nbsp;</a>
    <h1 class="title">Pflanzen</h1>
    {{#link-to 'plants.create'}}add{{/link-to}}
  </div>

  <div class='content list'>
    {{#each content}}
      <div class="item" {{action 'linkToPlant' this }}>{{name}}</div>
    {{/each}}
    <div class="item" {{action 'openmodal' }}>modal {{modalVisible}}</div>
    <div class="item" {{action 'openActionSheet' }}>action {{actionSheetVisible}}</div>

  </div>
</div>
{{outlet}}

{{#modal-box isModalVisible=modalVisible}}
    <h3>Modal</h3>
    <hr/>
    <p></p>

{{/modal-box}}


{{#action-sheet isVisible=actionSheetVisible}}
    <h3>action-sheet</h3>
    <hr/>
    <p></p>

{{/action-sheet}}

