<div class="moosi">
  <div class='header'>
    <a class='left' {{action 'openActionSheet'}}>settings</a>
    <h1 class="title">Pflanzen</h1>
    {{#link-to 'plants.create'}}add{{/link-to}}
  </div>

  <div class='content list'>
    {{#each plant in arrangedContent}}
      <div class="item" {{action 'linkToPlant' this }}>
        <span>{{plant.name}}</span>
        <span class='flex'></span>
        <span>{{plant.quantity}} 3</span>
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}

{{#modal-box isModalVisible=modalVisible}}
    <h3>Modal</h3>
    <hr/>
    <p></p>

{{/modal-box}}


{{action-sheet isVisible=actionSheetVisible goToQuarters='goToQuarters' }}

