<div class="moosi">
  <div class='header'>
    <a class='left' {{action 'openActionSheet'}}>menü</a>
    <h1 class="title" {{action 'toggleSearch'}}>Pflanzen <span style="-webkit-transform: rotate(-45deg);
               -moz-transform: rotate(-45deg);
                 -o-transform: rotate(-45deg);
                 display:inline-block">&#9906;</span></h1>
    {{#link-to 'plants.create'}}neu{{/link-to}}
  </div>

  {{partial 'shared/active-order'}}
  {{#if showSearchField}}
    <div class='list'>
      <div class="item">
        {{input value=searchString}}
      </div>
    </div>
  {{/if}}

  <div class='content list'>
    {{#each plant in arrangedContent}}
      <div {{bind-attr class=":item :rows plant.hideOnPlantsList:hide"}} {{action 'linkToPlant' plant}}>
        <div class="row slim number">{{plant.name}}</div>
        <div class="row" style='padding-top:10px'>
          <span class='flex'></span>
          <span class='col number relax'>{{euro plant.price}}</span>
          <span class='col number padding-left calm'>{{plant.youngPlantQuantity}}</span>
          <span class='col number padding-left peace'>{{plant.quantity}}</span>
        </div>
      </div>
    {{else}}
      <div class='padding acenter'>
        <em class='note'>keine Pflanze angelegt</em>
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
</div>
{{outlet}}

{{action-sheet isVisible=actionSheetVisible goTo='goTo' }}

