{{#view 'draggable' shouldShow=shouldShowCreate}}
  <div class='header'>
    {{partial 'shared/back-button'}}

    <h2 class='title'>{{name}}</h2>
    {{#if hasTransaction}}
      <a {{action 'resetTransaction'}}>abbrechen</a>
    {{else}}
      <a {{action 'editPlant'}}>bearbeiten</a>
    {{/if}}
  </div>

  <div class='content list'>
    {{partial 'shared/active-order'}}

    <div class="item">
      <span>Preis</span>
      <span class='flex'></span>
      <span class='number relax'>{{euro price}}</span>
    </div>

    <div class="item divider">Bestände</div>

    {{#each position in positions itemController='position'}}
      <div {{bind-attr class=position.activityStyles}}>
        <div class="row" {{action 'selectPosition' position }}>
          <span>{{position.quarter.name}}
            {{#if isTransaction}}
              {{#if position.isFrom}}
                <span class='badge'>von</span>
              {{/if}}
              {{#if position.isTo}}<span class='badge'>nach</span>{{/if}}
            {{/if}}
          </span>
          <span class='flex'></span>
          <span {{bind-attr class="position.isYoungPlant:calm:peace :number"}}>{{position.quantity}}</span>
        </div>
        {{#if position.isTo}}
          <div class="row">
            {{input value=transaction.quantityInput type='tel'}}
            <div class="aright padding-left">
              <button class="blue btn-desktop" {{action "execute"}} title="save" {{bind-attr disabled='transaction.isInvalidTransaction'}}>
                {{#if isTransaction}}
                  verschieben
                {{else}}
                  neue hinzufügen
                {{/if}}
              </button>
            </div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
{{/view}}

{{outlet}}
