<div class="moosi">
  <div class='header'>
    <a class='left' {{action 'openActionSheet'}}>settings</a>
    <h1 class="title">Pflanzen</h1>
    {{#link-to 'plants.create'}}add{{/link-to}}
  </div>

  <div class='content list'>
    {{#if hasActiveOrder}}
      <div class="item">
        <span>
          {{#link-to 'order' activeOrder}}{{activeOrder.name}}{{/link-to}} {{#if hasFrom }}nach{{/if}}<br>
          <a {{action 'deselectActiveOrder'}}>abbrechen</a>
        </span>
        <span class='flex'></span>
        <span class="padding aright">
          {{#if hasFrom }}
            {{input value=transaction.quantityInput type='tel'}}
            <button class="blue btn-desktop" {{action "execute"}}> hinzufügen </button>
          {{/if}}
        </span>
      </div>
    {{/if}}
    {{#each plant in arrangedContent}}
      <div class="item" {{action 'linkToPlant' plant}}>
        <span>{{plant.name}}</span>
        <span class='flex'></span>
        <span>{{plant.quantity}}</span>
      </div>
    {{/each}}
  </div>
  {{view 'tabs'}}
</div>
{{outlet}}

{{#modal-box isModalVisible=modalVisible}}
    <h3>Modal</h3>
    <hr/>
    <p></p>

{{/modal-box}}


{{action-sheet isVisible=actionSheetVisible goToQuarters='goToQuarters' }}

