{{#view 'upable'}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>Quartiere</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{#each quarter in arrangedContent itemController='quarter'}}
      <div {{bind-attr class="quarter.isActive:prime :item"}}>
        <span class='flex'>{{quarter.name}}</span>
        {{#if quarter.isActive}}
          <a href="#" class='btn-small' {{action 'stopRename' quarter}}>abbrechen</a>
        {{else}}
          {{#if editMode}}{{else}}
            <a href="#" class='btn-small' {{action 'rename' quarter}}>edit</a>
          {{/if}}
        {{/if}}
      </div>
    {{/each}}

    <div class='padding'>
      {{input value=selectedQuarter.name}}
    </div>
    <div class="aright padding">
      <button {{action 'createQuarter'}} class="blue btn-desktop">
        {{#if editMode}}ändern{{else}}hinzufügen{{/if}}
      </button>
    </div>
  </div>

{{/view}}
