{{#view 'upable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>Quarters</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{#each quarter in arrangedContent itemController='quarter'}}
      <div {{bind-attr class="quarter.isActive:prime :item"}}>
        <span class='flex'>{{quarter.name}}</span>
        <span class='smaller' {{action 'rename' quarter}}>edit</span>
      </div>
    {{/each}}
  </div>

  <div class='padding flexbox'>
    {{input value=selectedQuarter.name}}
    <div class="aright padding-left">
      <button {{action 'createQuarter'}} class="blue btn-desktop">
        {{#if editMode}}ändern{{else}}hinzufügen{{/if}}
      </button>
    </div>
  </div>
{{/view}}
