{{#view 'upable'}}
    <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>Quarters</h2>
    <a></a>
  </div>
  <div>
  <div class='content list'>
    {{#each quarter in arrangedContent }}
      <div class="item">
        <span class='flex'>{{quarter.name}}</span>
        <span {{action 'rename' quarter}}>edit</span>
      </div>
    {{/each}}
  </div>

  <div class='padding flexbox'>
    {{input value=selectedQuarter.name}}
    <div class="aright">
      <button {{action 'createQuarter'}}>
        {{#if editMode}}ändern{{else}}hinzufügen{{/if}}
      </button>
    </div>
  </div>
{{/view}}
