<div class="footer tabs">
  <a href="#" {{action 'goTo' 'plant'}} {{bind-attr class=":tab-item controller.plantTabActive:aktiv" }}>Pflanzen</a>
  <a href="#" {{action 'goTo' 'order'}} {{bind-attr class=":tab-item controller.orderTabActive:aktiv" }}>Rechnungen</a>
  <a href="#" {{action 'goTo' 'packing-list'}} {{bind-attr class=":tab-item controller.packingListTabActive:aktiv" }}>Packlisten</a>
</div>
